@charset "UTF-8";

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    main {
        flex-direction: column;
        padding-bottom: 45px;
    }
    
    .left-login > h1 {
        display: none;
    }

    .card-login {
        height: auto;
        width: auto;
    }

    .card-login > h1 {
        font-size: 18pt;
    }

    .left-login > img {
        width: 50vw;
        box-sizing: border-box;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }
}